.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, #606060, #D3D3D3);
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
}
