.profile {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
  }